<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="RavenDB" connectionString="DataDir = ~\RavenDbDatabase"/>-->

  </connectionStrings>
  <appSettings>
      <add key="RepositoryConnection1" value="{ type:'MongoDb', mongoUrl:'mongodb://localhost:27017', mongoDbName: 'ResourceManager' }"/>
      <add key="RepositoryConnection" value="{ type:'File', resourceDir:'~/FileDb' }"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
